.auth {
  width: 100vw;
  height: 100vh;
  padding: 151px 32px 0;
}

.form {
  width: 100%;
  max-width: 500px;
  min-height: 724px; /* Для разработки */
  margin: 0 auto;
  padding: 40px 50px;
  box-shadow: 4px 4px 25px rgba(14, 76, 121, 0.18);
  border-radius: 10px;
}

.form__logo {
  display: block;
  width: 128px;
  height: 30px;
  margin: 0 auto 40px;
}

@media(max-width: 480px) {
  .auth {
    padding: 55px 32px 0;
  }

  .form {
    padding: 30px 20px;
  }

  .form__logo {
    width: 107px;
    height: 25px;
    margin: 0 auto 30px;
  }

  .form__title {
    
  }
}
