.auth {
  width: 100vw;
  height: 100%;
  padding: 151px 32px 0;
}

.form {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  min-height: 724px;
  margin: 0 auto;
  padding: 40px 50px;
  box-shadow: 4px 4px 25px rgba(14, 76, 121, 0.18);
  border-radius: 10px;
}

.logo {
  display: block;
  width: 128px;
  height: 30px;
  margin: 0 auto 40px;
}

.title {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #2b689b;
  margin: 0;
}

.field {
  border: none;
  position: relative;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin: 40px 0 0;
  padding: 0;
}

.label {
  position: relative;
  display: block;
  width: 100%;
  height: 45px;
}

.label::after {
  content: "*";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #ffb6c1;
}

.input {
  outline: none;
  font-size: 18px;
  color: #292a2c;
  width: calc(100% - 25px);
  height: 100%;
  border: none;
  border-bottom: 1px solid #2b689b;
  padding: 0 0 0 25px;
}

.input::placeholder {
  font-size: 18px;
  color: #6b95b9;
}

.error {
  display: inline-block;
  font-size: 15px;
  color: #f13f58;
  margin: 5px 0 0 10px;
}

.error_hidden {
  display: none;
}

.showing {
  border: none;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 20px;
  height: 10px;
  background: url(../../../images/svg/eye.svg);
}

.note {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
  margin: 30px 0 0;
  padding: 0 0 0 10px;
}

.notestar {
  color: #ffb6c1;
}

.notetext {
  margin: 0;
  display: inline-block;
  padding: 0 0 0 5px;
  color: #2b689b;
}

.submit {
  display: block;
  border: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #0e406a;
  min-width: 270px;
  min-height: 61px;
  margin: 30px auto 0;
  padding: 20px 84px 20px 40px; 
  background-color: #ffd970;
  background-image: url(../../../images/svg/submit-arrow.svg);
  background-position: 85% 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}

.submit:hover {
  background-color: #FFE292;
}

.links {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
  padding: 0;
  max-width: 244px;
  list-style: none;
}

.link {
  text-decoration: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #2B689B;
}

.link:hover {
  color: #3D7FB7;
}

@media (max-width: 480px) {
  .auth {
    padding: 55px 32px 0;
  }

  .form {
    padding: 30px 20px;
  }

  .logo {
    width: 107px;
    height: 25px;
    margin: 0 auto 30px;
  }

  .title {
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 20px;
  }

  .field {
    margin: 20px 0 0;
  }

  .label::after {
    font-size: 15px;
  }

  .input {
    font-size: 15px;
  }

  .error {
    font-size: 13px;
  }

  .submit {
    width: 242px;
    height: 55px;
    font-size: 16px;
    line-height: 19px;
    padding: 18px 74px 18px 30px;
  }

  .links {
    font-size: 15px;
    line-height: 1.4;
    max-width: 224px;
  }
}
